.article__header {
  position: relative;
  margin-bottom: 48px;
}

@media screen and (max-width: 749px) {
  .article__header {
    margin-bottom: 24px;
  }
}

.article__block img {
  width: auto;
  max-width: 100%;
}

.article__block--social {
  text-align: center;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.article__social-icons {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}

.article__social-icon {
  width: 25px;
  height: 25px;
}

.article__social-icon svg {
  vertical-align: top;
}
