.card {
  display: flex;
  flex-direction: column;
  height: 100%;
  text-align: left;
  position: relative;

  padding: var(--card-padding);
  border-radius: var(--card-border-radius);
  border-color: rgba(var(--color-foreground), 0.5);
  border-style: solid;
  border-width: var(--card-border-width);
  box-shadow: var(--card-shadow);
}

.card--overlap .card__details {
  position: absolute;
  display: flex;
  height: 100%;
  margin-top: 0;
  padding: 12px;
  background: rgba(var(--color-background), 0.2);
  justify-content: end;
  pointer-events: none;
}

.card__image-wrapper {
  position: relative;
  color: rgb(var(--color-foreground));
}

.card__bracket {
  position: absolute;
}

.card__bracket:nth-child(1) {
  top: 2px;
  left: 2px;

  transform: rotate(-180deg);
}

.card__bracket:nth-child(2) {
  top: 2px;
  right: 2px;

  transform: rotate(-90deg);
}

.card__bracket:nth-child(3) {
  bottom: 2px;
  left: 2px;

  transform: rotate(90deg);
}

.card__bracket:nth-child(4) {
  bottom: 2px;
  right: 2px;
}

.card__image-wrapper:hover .card__quickview,
.card__image-wrapper:focus .card__quickview,
.card__image-wrapper:focus-within .card__quickview {
  opacity: 1;
}

.card__image-container {
  padding: 16px;
  border: 2px solid rgb(var(--color-foreground));
}

.card__image-container img {
  border: 0;
}

.card__quickview {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 1rem;
  opacity: 0;
  transition: all 100ms ease-in-out;
  z-index: 10;
}

.card__details {
  margin: 24px 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 8px;
  flex: 1 1 100%;
}

.card--small .card__details {
  margin: 12px 0;
  gap: 4px;
}

.card__details * {
  margin: 0;
}

.card__title {
  font-family: var(--font-heading-family);
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 133.333%;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  text-align: center;
}

.card__title-title {
  display: -webkit-box;
  line-clamp: 2;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  overflow: hidden;
}

.card__text {
  width: 100%;
  display: flex;
  align-items: center;
  gap: calc(var(--column-spacing) / 2);
}

.card__text--spaced {
  justify-content: space-between;
}

.card__text--column {
  flex-direction: column;
  align-items: baseline;
}

.card__price {
  text-align: center;
  font-family: var(--font-heading-family);
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
}

.card__subtitle {
  width: 100%;
  text-transform: uppercase;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  display: -webkit-box;
  overflow: hidden;
}

.card__description-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.card__description {
  display: -webkit-box;
  width: 100%;
  text-overflow: ellipsis;
  line-clamp: 2;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.product-form__buy-buttons {
  margin-top: auto;
  position: relative;
}

.product-form__decoration {
  position: absolute;
  pointer-events: none;
  height: 12px;
  width: 12px;
}

.product-form__decoration--1 {
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
}

.product-form__decoration--1 svg {
  transform: rotate(-90deg);
}

.product-form__decoration--2 {
  bottom: 0;
  right: 0;
  transform: translate(50%, 50%);
}

.product-form__decoration--2 svg {
  transform: rotate(90deg);
}

.product-form__decoration--3 {
  top: 0;
  right: 0;
  transform: translate(50%, -50%);
}

.product-form__decoration--3 svg {
  transform: rotate(0deg);
}

.product-form__decoration--4 {
  bottom: 0;
  left: 0;
  transform: translate(-50%, 50%);
}

.product-form__decoration--4 svg {
  transform: rotate(180deg);
}

.product-form__decoration svg {
  width: 12px;
  height: 12px;
  vertical-align: top;
}

.card__actions {
  width: calc(100% - 12px);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

/** Swatches **/
.card__swatches {
  display: flex;
  flex-direction: row;
  gap: 8px;
  margin-bottom: 12px;
}

.card__swatches .swatch,
.card__swatches .skeleton {
  width: 50px;
  height: 50px;
}

@media screen and (max-width: 749px) {
  .card__swatches .swatch,
  .card__swatches .skeleton {
    width: 30px;
    height: 30px;
  }
}
