#smartwishlist {
  display: none !important;
}

product-info {
  display: block;
}

.product {
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

@media screen and (min-width: 750px) {
  .product {
    display: grid;
    grid-template-columns: 45% 1fr;
    grid-gap: 80px;
  }

  .product--40 {
    grid-template-columns: 40% 1fr;
  }

  .product--45 {
    grid-template-columns: 45% 1fr;
  }

  .product--50 {
    grid-template-columns: 50% 1fr;
  }

  .product--55 {
    grid-template-columns: 55% 1fr;
  }

  .product--60 {
    grid-template-columns: 60% 1fr;
  }

  .product--65 {
    grid-template-columns: 65% 1fr;
  }

  .product__column-sticky {
    display: block;
    position: sticky;
    top: calc(2rem + var(--header-height));
    z-index: 2;
    height: fit-content;
  }
}

/** Product information **/
.product__info-wrapper {
  min-width: 0;
  padding: 0 0 10px 0;
}

.main-product__buttons .product-form__buttons > *:not(:first-child) {
  margin-top: 0.5rem;
}

.product__info-container > * {
  margin-bottom: 18px;
}

.product__info-container > .double-spacing {
  margin-bottom: 36px;
}

.product__info-container iframe {
  max-width: 100%;
}

.product__info-container .loading__spinner:not(.hidden) ~ * {
  visibility: hidden;
}

.product__info-container .shopify-app-block {
  margin-bottom: 1rem;
}

/* Caption */
.product__caption {
  display: flex;
  align-items: center;
  gap: 12px;
}

.product__caption--stylized {
  font-family: var(--font-heading-family);
  font-size: 10px;
  font-weight: 700;
  letter-spacing: 4px;
  text-transform: uppercase;
}

.product__caption--line:after {
  content: '';
  height: 1px;
  flex: 1 0 0;

  border: 1px solid var(--color-background);
  background: linear-gradient(
    90deg,
    rgba(var(--color-foreground), 0.4) 0%,
    rgba(var(--color-background), 0) 100%
  );
  box-shadow: 0 4px 4px 0 rgba(var(--color-background), 0.25);
}

/* Title */
.product__title {
  word-break: break-word;
  font-size: 36px;
  letter-spacing: 2.4px;
  margin: 0;
}

@media screen and (max-width: 749px) {
  .product__title {
    font-size: 24px;
    letter-spacing: 1.6px;
  }
}

/* Callouts */
.product__callouts {
  display: flex;
  gap: 24px;
  align-items: center;
}

.product__callout {
  display: flex;
  gap: 24px;
  align-items: center;

  color: rgba(var(--color-foreground), 0.70);
  font-style: italic;

}

.product__callout + .product__callout:before {
  content: "";
  display: block;
  width: 1px;
  height: 16px;
  flex-shrink: 0;

  background: rgba(var(--color-foreground), 0.4);
}

@media screen and (max-width: 749px) {
  .product__callouts {
    gap: 12px;
  }

  .product__callout {
    gap: 12px;
  }
}

/* Price */
.product__price {
  font-family: var(--font-heading-family);
  font-size: 20px;
}

/* Description */
.product__text {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.product__text-details > * {
  margin: 0;
}

.product__text.product__text--title {
  display: flex;
}

.product__text.light {
  color: #717171;
}

.product__description > * {
  padding: 0;
}

.product__description > ul {
  list-style: inside;
}

.product__text-parent {
  display: flex;
  gap: 1rem;
}

.product__text-video {
  width: 120px;
  flex-shrink: 0;
}

.product__text-video-trigger {
  position: absolute;
  width: 100%;
  height: 100%;
}

.product__text-video-trigger-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 2rem;
  height: 2rem;
  color: rgb(var(--color-background)) !important;
}

@media screen and (max-width: 749px) {
  .product__text-video {
    width: 60px;
  }

  .product__text-video-trigger-button {
    width: 1rem;
  }
}

/* Price */
.product__installment {
  font-weight: normal;
  margin-top: 0.5rem;
}

/** Variant Picker **/
.product__swatches {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 2rem;
}

.product__swatches-group {
  display: flex;
  flex-flow: column;
  gap: 6px;
}

.product__swatches-selected span {
  font-weight: 400;
}

.product__swatches-list {
  display: flex;
  flex-flow: wrap;
  gap: 4px;
}

.product__swatches-list .swatch {
  width: 75px;
  height: 75px;
}

/* Buy buttons */
.buy-buttons__container {
  display: grid;
  grid-template-columns: 1fr 4fr;
  gap: 16px;
}


/* Dynamic checkout */
.shopify-payment-button__button {
  font-family: inherit;
  min-height: 4.6rem;
}

.shopify-payment-button__button [role='button'].focused {
  outline: 0.2rem solid rgba(var(--color-foreground), 0.5) !important;
  outline-offset: 0.3rem;
  box-shadow:
    0 0 0 0.1rem rgba(var(--color-button), var(--alpha-button-border)),
    0 0 0 0.3rem rgb(var(--color-background)),
    0 0 0.5rem 0.4rem rgba(var(--color-foreground), 0.3) !important;
}

.shopify-payment-button__button [role='button']:focus:not(:focus-visible) {
  outline: 0;
  box-shadow: none !important;
}

.shopify-payment-button__button [role='button']:focus-visible {
  outline: 0.2rem solid rgba(var(--color-foreground), 0.5) !important;
  box-shadow:
    0 0 0 0.1rem rgba(var(--color-button), var(--alpha-button-border)),
    0 0 0 0.3rem rgb(var(--color-background)),
    0 0 0.5rem 0.4rem rgba(var(--color-foreground), 0.3) !important;
}

.shopify-payment-button__button--unbranded {
  background-color: rgba(var(--color-button), var(--alpha-button-background));
  color: rgb(var(--color-button-text));
}

.shopify-payment-button__button--unbranded::selection {
  background-color: rgba(var(--color-button-text), 0.3);
}

.shopify-payment-button__button--unbranded:hover,
.shopify-payment-button__button--unbranded:hover:not([disabled]) {
  background-color: rgba(var(--color-button), var(--alpha-button-background));
}

.shopify-payment-button__more-options {
  margin: 1.6rem 0 1rem;
  text-decoration: underline;
  text-underline-offset: 0.3rem;
}

.shopify-payment-button__button + .shopify-payment-button__button--hidden {
  display: none;
}

.shopify-payment-button__more-options {
  color: rgb(var(--color-foreground));
}

.shopify-payment-button__button {
  font-size: 1.5rem;
  letter-spacing: 0.1rem;
}

/** Seperator **/
.product__seperator {
  display: block !important;
  height: 1px;
  background: rgba(var(--color-foreground), 0.30);
  margin: 24px 0;
}

/** Description **/
.product__description {
  font-size: var(--font-body-large);
  font-style: italic;
}

/** Media Gallery **/
.product__media-wrapper {
  padding-left: 0;
}

.media-gallery {
  display: flex;
  flex-direction: column;
  gap: 24px;

  --thumbnail-width: 90px;
  --thumbnail-width-mobile: 90px;
}

@media screen and (min-width: 750px) {
  .media-gallery {
    gap: 12px;
  }
}

.media-gallery__images {
  width: 100%;
  flex-shrink: 0;
  position: relative;
}

.media-gallery__images--zoom .product__media-toggle {
  pointer-events: all;
}

.media-gallery__images-slider {
  position: relative;
}

.media-gallery__images-slider .grid {
  margin-bottom: 0;
}

.product__media-item > * {
  display: block;
  position: relative;
}

.product__media-container {
  position: relative;
  width: 100%;
  padding: 6px;
  
  border: 2px solid rgba(var(--color-foreground), 1);
}

.product__media-award {

  position: absolute;
  top: 8px;
  right: 8px;
  z-index: 1;

  border: 1px solid rgba(var(--color-foreground), 1);
  background: rgba(var(--color-background), 0.80);
  
  width: 66px;
  height: 66px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 6px;
}

.product__media-award-text {
  color: rgba(var(--color-foreground), 1);
  text-align: center;
  font-family: var(--font-heading-family);
  font-size: 8px;
  line-height: 10px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}

.product__media-decoration {
  position: absolute;
  z-index: 1;
  pointer-events: none;
}

.product__media-decoration svg {
  vertical-align: top;
}

.product__media-decoration--1 {
  top: 0;
  right: 0;
}

.product__media-decoration--2 {
  bottom: 0;
  left: 0;
}

.product__media-decoration--2 svg {
  transform: rotate(180deg);
}

.product__media-decoration--3 {
  top: 0;
  left: 0;
}

.product__media-decoration--3 svg {
  transform: rotate(-90deg);
}

.product__media-decoration--4 {
  bottom: 0;
  right: 0;
}

.product__media-decoration--4 svg {
  transform: rotate(90deg);
}

.product__media-container .product__modal-opener {
  display: block;
  position: relative;
}

.product__media img,
.product__media video {
  border-color: rgba(var(--color-foreground), 0.25);
}

@media screen and (max-width: 749px) {
  .product__media img,
  .product__media video {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
  }
}

.product__media-icon {
  pointer-events: none;
  background-color: rgb(var(--color-background));
  border-radius: var(--media-radius);
  border: 0.1rem solid rgba(var(--color-foreground), 0.1);
  color: rgb(var(--color-foreground));
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 40px;
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  z-index: 1;
  transition:
    color var(--duration-short) ease,
    opacity var(--duration-short) ease;
}

.product__media-icon .icon {
  width: 24px;
  height: 24px;
}

.product__media-video .product__media-icon {
  opacity: 1 !important;
}

@media screen and (min-width: 750px) {
  .product__media-icon {
    opacity: 0;
  }

  .product__media-container:hover .product__media-icon,
  .product__media-container:focus .product__media-icon {
    opacity: 1;
  }
}

.product__modal-opener--image .product__media-toggle:hover {
  cursor: zoom-in;
}

.product__media-toggle {
  display: flex;
  border: none;
  background-color: transparent;
  color: currentColor;
  padding: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  pointer-events: none;
}

/** Thumbnail Slider **/
.media-gallery__thumbnails {
  width: auto;
  z-index: 1;
  margin: 0 auto;
}

.media-gallery__thumbnail {
  position: relative;
  width: var(--thumbnail-width);
  cursor: pointer;
}

.media-gallery__thumbnail-button {
  width: 100%;
}

.media-gallery__thumbnail-button img {
  border: 0 !important;
}

.media-gallery__thumbnail > * {
  cursor: pointer;
}

.media-gallery__thumbnail [aria-current='true'] > * {
  border: 1px solid;
}

.media-gallery__thumbnail-badge {
  pointer-events: none;
  position: absolute;
  z-index: 1;
  height: 1rem;
  width: 1rem;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

@media screen and (min-width: 750px) {
  .media-gallery__thumbnails--vertical slider-component {
    position: absolute;
    width: calc(100% - var(--thumbnail-width) - 0.5rem);
    transform: translate(var(--thumbnail-width)) rotate(90deg);
    transform-origin: top left;
  }

  .media-gallery__thumbnails--vertical .media-gallery__thumbnail-list {
    margin: 0;
    transform: none;
  }

  .media-gallery__thumbnails--vertical .media-gallery__thumbnail {
    transform: rotate(-90deg);
  }
}

@media screen and (max-width: 749px) {
  .media-gallery__thumbnails {
    order: 2;
  }

  .media-gallery__thumbnail {
    width: var(--thumbnail-width-mobile);
  }
}

/* Gallery Modal */
.product-media-modal {
  background-color: rgb(var(--color-background));
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  visibility: hidden;
  opacity: 0;
  z-index: -1;
}

.product-media-modal[open] {
  visibility: visible;
  opacity: 1;
  z-index: 101;
}

.product-media-modal__dialog {
  display: flex;
  align-items: center;
  height: 100dvh;
}

.product-media-modal__toggle {
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  height: 3rem;
  width: 3rem;
}

.product-media-modal__toggle:focus,
.product-media-modal__toggle:focus-visible {
  opacity: 1;
}

.product-media-modal__content {
  max-height: 100dvh;
  width: 100%;
  overflow: auto;
}

.product-media-modal__content > deferred-media,
.product-media-modal__content > *:not(.active) {
  display: none;
}

/* Image magnify */
.product__modal-opener:not(.product__modal-opener--image) {
  display: none;
}

.product__media-list .deferred-media {
  display: block;
}

.product-media-modal__model {
  width: 100%;
}

.product__media-list .media > * {
  overflow: hidden;
}

@media screen and (max-width: 749px) {
  .product__modal-opener {
    width: 100%;
  }
}

.image-magnify-full-size {
  display: block !important;
  cursor: zoom-out;
  z-index: 1;
  margin: 0;
  border-radius: calc(var(--media-radius) - var(--media-border-width));
}

.image-magnify-hover {
  cursor: zoom-in;
}

.product__modal-opener--image .product__media-zoom-none,
.product__media-icon--none {
  display: none;
}

.product__modal-opener > .loading__spinner {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  display: flex;
  align-items: center;
  height: 48px;
  width: 48px;
}

.product__modal-opener .path {
  stroke: rgb(var(--color-button));
  opacity: 0.75;
}

.js .product__media {
  overflow: hidden !important;
}

/* Gallery Badges */
.product__media-badges {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0.5rem;
  padding: 1rem;
  margin-top: 0.5rem;
}

.product__media-badge {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
}

.product__media-badge-image {
  width: 45px;
}

/* Gift Card Recipient */
.recipient-form {
  --recipient-checkbox-margin-top: 0.64rem;

  display: block;
  position: relative;
  max-width: 44rem;
  margin-bottom: 2.5rem;
}

.recipient-form-field-label {
  margin: 0.6rem 0;
}

.recipient-form-field-label--space-between {
  display: flex;
  justify-content: space-between;
}

.recipient-checkbox {
  flex-grow: 1;
  font-size: 1.6rem;
  display: flex;
  word-break: break-word;
  align-items: flex-start;
  max-width: inherit;
  position: relative;
  cursor: pointer;
}

.recipient-form > input[type='checkbox'] {
  position: absolute;
  width: 1.6rem;
  height: 1.6rem;
  margin: var(--recipient-checkbox-margin-top) 0;
  top: 0;
  left: 0;
  z-index: -1;
  appearance: none;
  -webkit-appearance: none;
}

.recipient-fields__field {
  margin: 0 0 2rem 0;
}

.recipient-fields .field__label {
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: calc(100% - 3.5rem);
  overflow: hidden;
}

.recipient-checkbox > svg {
  margin-top: var(--recipient-checkbox-margin-top);
  margin-right: 1.2rem;
  flex-shrink: 0;
}

.recipient-form .icon-checkmark {
  visibility: hidden;
  position: absolute;
  left: 0.28rem;
  z-index: 5;
  top: 0.4rem;
}

.recipient-form > input[type='checkbox']:checked + label .icon-checkmark {
  visibility: visible;
}

.js .recipient-fields {
  display: none;
}

.recipient-fields hr {
  margin: 1.6rem auto;
}

.recipient-form > input[type='checkbox']:checked ~ .recipient-fields {
  display: block;
  animation: animateMenuOpen var(--duration-default) ease;
}
.recipient-form
  > input[type='checkbox']:not(:checked, :disabled)
  ~ .recipient-fields,
.recipient-email-label {
  display: none;
}

.js .recipient-email-label.required {
  display: inline;
}

.recipient-form ul {
  padding-left: 4.4rem;
  text-align: left;
}

.recipient-form ul a {
  display: inline;
}

.recipient-form .error-message::first-letter {
  text-transform: capitalize;
}

@media screen and (forced-colors: active) {
  .recipient-fields > hr {
    border-top: 0.1rem solid rgb(var(--color-background));
  }

  .recipient-checkbox > svg {
    background-color: inherit;
    border: 0.1rem solid rgb(var(--color-background));
  }

  .recipient-form > input[type='checkbox']:checked + label .icon-checkmark {
    border: none;
  }
}

/** Concentration **/
.product__concentration {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
}

.product__concentration * {
  margin: 0;
}

/* Various */
.product__various {
  display: flex;
  gap: 0.5rem;
  align-items: end;
}

.product__various-sku {
  justify-self: end;
  margin-left: auto;
}
